.bgimg{
			width:100%;
			height:98vh;
			background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url(bg_reg.jpg);
			background-size:cover;
			background-position:center;
			padding-top:80PX;
			
}
.frm form table{
			background-color: rgba(255, 255, 255, 0.2);
			position:center;
			padding-top:20px;
			padding-bottom:30px;
			color:white;
			
}
.but button:hover{
				background-color:black;
				color:white;
				cursor: pointer;
				zoom:1.3;
				transition:0.75s;
}
.list ul li{
		display:inline-block;
		padding-right:10px;
		padding-top:5px;

}
.list ul li a{
	text-decoration:none;
	padding-left:8px;
	padding-bottom:2px;
	padding-top:2px;
	color:white;
	
}
.list ul li a:hover{
	background-color:white;
	border:5px solid;
	border-radius:3px;
	color:black;
	
	transition:0.75s;
}
ul li.home a{
	background-color:white;
	color:black;
}
.cont {
	background-color:black;
	width: 100%;
  display: flex;
  padding-top:10px;
  padding-bottom:10px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position:fixed;
}
.landing-page-text01 {
  margin-right: 10%;
}
.landing-page-text02 {
  margin-right: 10%;
}
.landing-page-text03 {
  margin-right: 10%;
}
.landing-page-text04 {
  margin-right: 10%;
}